<!--[if gt IE 10]><!---->
  <script nomodule>{% include scripts/nomodule.min.js %}</script>
  <script src="{{ '/assets/js/hydejack-9.1.6.js' | relative_url }}" type="module"></script>
  {% include body/analytics.html %}
  <script type="module">
    // Clean up any service worker registered by earlier versions of this site.
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistration()
        .then(r => r && r.unregister())
        .catch(() => {});
    }
  </script>
<!--<![endif]-->